{% extends "home.html" %}
{% block title %}Detailed Report{% endblock %}
{% block content %}
<div class="container">
    <form action="/{{page}}/" class="form-bordered" method="POST">{% csrf_token %}
        <div class="form-group row">
          <label for="start date" class="col-sm-2 col-form-label">Start Date</label>
          <div class="col-sm-10">
            <input class="form-control" type="date" value="{% now 'o-m' %}" name="str_mon" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="end date" class="col-sm-2 col-form-label">End Date</label>
          <div class="col-sm-10">
            <input class="form-control" type="date" value="{% now 'o-m' %}" name="end_mon" required>
          </div>
        </div>
        <div class="form-group row">
          <div class="offset-sm-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Fetch Report</button>
          </div>
        </div>
    </form>
</div>
{% endblock %}