<!DOCTYPE html>
<html>
<head>
  <title>{{username}} : Home</title>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js" ></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src = "https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
<link rel="shortcut icon" href="https://www.rajagiritech.ac.in/stud/images/rset.gif" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="https://raw.githubusercontent.com/BlackrockDigital/startbootstrap-simple-sidebar/master/css/simple-sidebar.css">
</head>
<body>

<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home/">RSET Call Management System</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/home/">Home <span class="sr-only">(current)</span></a></li>
        <li class=""><a href="/report/">Detailed Report<span class="sr-only">(current)</span></a></li>     
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a>Loged in as : {{username}}</a></li>
        <li><a href="/logout/">Logout</a></li>
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
      {% block content %}
      <div class="panel panel-primary">
        <!-- Default panel contents -->
      <div class="panel-heading">RSET Call Management System</div>
        <div class="panel-body">
          <p>Contains the details of all the calls happening in the RSET intercome</p>
        </div>
      <div class="list-group">
        <a href="/report/"><button type="button" class="list-group-item" >Detailed Report</button></a>
        <a href="/summary/"><button type="button" class="list-group-item">Call Summary</button></a>
        {% if username == 'admin' %}
          <a href="/sr/"><button type="button" class="list-group-item">Station Report</button></a>
          <a href="/admin"><button type="button" class="list-group-item">More Details</button></a>
        {% endif %}
      </div>
      </div>
      {% endblock %}
</body>
</html>