{% extends "home.html" %}
{% block title %}Detailed Report{% endblock %}
{% block content %}
    <table id="report" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Call Type</th>
                    <th>Input Time</th>
                    <th>Input Date</th>
                    <th>Duration</th>
                    <th>Station</th>
                    <th>Number Dialed</th>
                    <th>Received Date and Time</th>
                </tr>
            </thead>
            <tbody>
                {% for r in obj %}
                <tr>
                    <td>{{r.call_type}}</td>
                    <td>{{r.input_time}}</td>
                    <td>{{r.input_date}}</td>
                    <td>{{r.duration}}</td>
                    <td>{{r.station}}</td>
                    <td>{{r.number_dialed}}</td>
                    <td>{{r.received_datetime}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    <script type="text/javascript">
      $(document).ready(function() {
        $('#report').DataTable();
      });
    </script>
{% endblock %}