{% extends "home.html" %}
{% block title %}Station Report{% endblock %}
{% block content %}
    <table id="report" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Station</th>
                    <th>Owner</th>
                    <th>From</th>
                    <th>To</th>
                </tr>
            </thead>
            <tbody>
                {% for r in obj %}
                <tr>
                    <td>{{r.station}}</td>
                    <td>{{r.owner}}</td>
                    <td>{{r.from_t}}</td>
                    <td>{{r.to_t}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    <script type="text/javascript">
      $(document).ready(function() {
        $('#report').DataTable();
      });
    </script>
{% endblock %}