{% extends "home.html" %}
{% block title %}Call Summary{% endblock %}
{% block content %}
    <table id="report" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Owner</th>
                    <th>Station</th>
                    <th>Incoming</th>
                    <th>Out going</th>
                    <th>Attended</th>
                    <th>Not attended</th>
                </tr>
            </thead>
            <tbody>
                {% for r in obj %}
                <tr>
                    <td>{{r.0}}</td>
                    <td>{{r.1}}</td>
                    <td>{{r.2}}</td>
                    <td>{{r.3}}</td>
                    <td>{{r.4}}</td>
                    <td>{{r.5}}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    <script type="text/javascript">
      $(document).ready(function() {
        $('#report').DataTable();
      });
    </script>
{% endblock %}